body {
  background-color: #e7f0dc;
  font-family: "Lexend", serif;
}
footer {
  text-align: center;
  font-family: monospace;
}

.weather-app {
  background-color: white;
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

.search-input {
  background-color: #e7f0dc;
  font-family: "Lexend", serif;
  border: none;
  border-radius: 5px;
  width: 75%;
  padding: 12px;
}

.search-button {
  background-color: #819175;
  font-family: "Lexend", serif;
  border: none;
  border-radius: 5px;
  width: 24%;
  padding: 12px;
}
